.primaryImmPill {
    
   
    padding: 0px 16px;
    gap: 10px;
    width: 99px;
    height: 20px;
    border-radius: 10px;
    flex: none;
    order: 3;
    flex-grow: 0;
    width: 80px;
    height: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000028;
    flex: none;
    order: 0;
    flex-grow: 0;
    
    }